@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 0;
    font-family: Roboto, 'Times New Roman', sans-serif;
}

.header,
.info,
.quote,
.call,
.footer {
    padding: 0 200px;
    display: flex;
    flex-wrap: wrap;
}

.header,
.footer {
    background-color: rgb(170, 86, 255);
    flex-direction: column;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    padding-top: 24px;
    padding-bottom: 80px;
    
}

.top, 
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    font-style: italic;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.content {
    gap: 48px;
}

.text, 
.placeholder {
    flex: 1;
    align-self: stretch;
    flex-direction: column nowrap;
}

.placeholder {
    display: flex;
    max-width: auto;
    justify-content: center;
    align-items: center;
}

.placeholder img {
    width: 90%;
    height: auto;
}

.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 0;
}

.pad {
    padding: 8px 0 16px;
}

button {
    display: flex;
    background-color: #3855f6;
    color: white;
    justify-content: center;
    font-weight: 900;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    padding: 7px 10px;
    width: 96px;
}

button a,
li a, 
.pad a {
    text-decoration: none;
    font-weight: bold;
}

button a {
    color: white;
}

li a {
    color: #002fff;
}

.pad a {
    color: rgb(0, 209, 70);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 136, 183);
    padding-top: 36px;
    padding-bottom: 100px;
}

.detail {
    padding-bottom: 24px;
    font-size: 40px;
    font-weight: bold;
}

.info .images {
    max-width: 1200px;
    flex-wrap: wrap;
    display: flex;
    gap: 125px;
}

.subtext {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
    justify-content: baseline;
    text-align: center;
    gap: 8px;
}

.subtext .attract {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

.subtext img {
    width: 125%;
    height: 300px;
}

.quote {
    background-color: #97baff;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
}

.saying {
    display: flex;
    flex-direction: column;
    max-width: 875px;
}

.inspire {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.source {
    font-weight: bold;
    align-self: flex-end;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding-top: 64px;
    padding-bottom: 64px;
}

.banner {
    display: flex;
    max-width: 1000px;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #00a782;
    border-radius: 8px;
    padding: 48px 96px;
}

.fight {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.footer {
    padding-top: 36px;
    padding-bottom: 36px;
    text-align: center;
}